.summary-container{
    max-width: 300px;
    padding: 20px 35px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.summary-heading{
    margin: 0;
    font-size: 28px;
}
.no-items{
    font-size: 20px;
    margin: 5px;
}
.total-text{
    color: #0b69ff;
    font-weight: bold;
}
.checkout-btn{
    width: 120px;
    height: 40px;
    margin: 10px 0px;
    background-color: #0b69ff;
    color: white;
    border: none;
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 5px;
}
.checkout-btn:hover{
    background-color: #0b49ad;
    cursor: pointer;
    border-radius: 6px;
}
